/**Style for <SvgHamburger/>**/
.svg-burger-bar path {
	transition: transform 0.2s, opacity 0.2s;
}

.svg-burger-bar path.bar-1{
	transform-origin: top left;
	transition-delay: 0.1s;

}

.svg-burger-bar path.bar-3 {
	transform-origin: bottom left;
	transition-delay: 0.1s;

}
.svg-burger-bar path.bar-2 {
	transform-origin: center center;
}
.svg-burger-bar.clicked path.bar-1{
	transform: rotate(45deg);
}

.svg-burger-bar.clicked path.bar-3{
		transform: rotate(-45deg);
}

.svg-burger-bar.clicked path.bar-2{
	transform: translateX(100%);
	opacity: 0;
}